@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Serialized Payload Generator</h1>
    <p class="lead">One stop for all the deserialization payload generation. It's web version of all the CLI utility.</p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>