# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store

# Removing book directory from checkin as it's automatically created
Resource/php/*
Resource/phpggc/*
Resource/java/*
Resource/python/*
Resource/ysoserialnet/*
Resource/ysoserial.jar
obj/*
bin/*
packages/*
.vs/*
Properties/PublishProfiles/*