@{
    ViewBag.Title = "Developed By: Sanjay Gondaliya";
}
<h4>@ViewBag.Title</h4>
<a href="https://www.sanjaygondaliya.com"><i class="fa fa-rss fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
<a href="https://www.twitter.com/realsanjay"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
<a href="https://in.linkedin.com/in/sanjaygondaliya"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>