@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="">
        <img src="..\\..\\Resource\\Icon.png" class="center-block img-responsive" /><br/>
        <p class="lead" align="center">One stop for all the deserialization payload generation.</p>
    </div>
</div>
