@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="..\\..\\Resource\\Icon.png" style="width:1015px;height:250px;"/><br/><br />
    <p class="lead">One stop for all the deserialization payload generation.</p>
</div>
